body {
  margin: 20px;
  min-height: 100vh;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(164, 201, 164);
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: solid green;
  text-align: end;
  background-color: rgb(241, 204, 223);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  margin: 0px;
  line-height: 35px;
}
.nav-container a:hover {
  color: green;
}

.image-container {
  width: 350px;
  height: 400px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.p-container {
  border: solid green;
  color: aliceblue;
  background-color: green;
}

.nav-links {
  border: solid green;
}
.nav-links a:hover {
  color: green;
}
